@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    ;
}

/* Common Style */
.primary-color {
    color: #FF42A5;
}

/* Navigation Style Start Here */

nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;

}

.nav-container {
    max-width: 1400px;
    width: 80%;
    height: 130px;
    margin: 37px 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

}

.nav-title {
    display: flex;
    align-items: center;
    gap: 20px;

}


.nav-title h1 {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}

.nav-title img {
    width: 86.041px;
    height: 40px;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.nav-menu p {
    color: #3C354F;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
}

.nav-title-icons {
    padding: 8px 24px;
    background-color: rgba(11, 2, 35, 0.10);
    border-radius: 8px;
}

.youtube {
    color: #F61C0D;
    width: 33.916px;
    height: 24px;
}

.tiktok {
    width: 24px;
    height: 24px;
}

/* Navigation Style End Here */

/* Header Parts Style Start Here */
header {
    max-width: 1400px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 50px 0 0 0;
}
.header-img img{
    width: 100%;
}

.header-text {
}

header h6 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-top: 150px;
}

header h1 {
    font-size: 95px;
    font-weight: 800;
    background-image: linear-gradient(rgba(249, 72, 178, 1), rgba(135, 88, 241, 1));
    -webkit-background-clip: text;
    color: transparent;
    margin: 0px;
}

.header-list {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    align-items: center;
    margin: 0px;
    margin-bottom: 20px;
}

.header-btn {
    gap: 24px;
}

.sign-in {
    padding: 21px 40px;
    gap: 10px;
    border-radius: 48px;
    color: #FFF;
    background-color: #FF42A5;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.rogue {
    padding: 21px 40px;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

/* Gamer Parts Style Start Here */
.gamer {
    max-width: 1400px;
    width: 80%;
    display: flex;
    margin: 0 auto;
    padding-bottom: 150px;

}
.gamer-img img{
    width: 100%;
}

.gamer-body h3 {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    background-image: linear-gradient(rgba(249, 72, 178, 1), rgba(135, 88, 241, 1));
    -webkit-background-clip: text;
    color: transparent;
}

.gamer-body p {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.gamer-btn-div {
    display: flex;
    justify-content: end;
}

.gamer-btn {
    padding: 21px 40px;
    gap: 10px;
    border-radius: 48px;
    color: #FFF;
    background-color: #FF42A5;
    font-size: 20px;
    font-weight: 600;
}

.unlesh {
    color: #534C64;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
}

/* Onlyn Games Part Start Here */
.online-games {
    padding-bottom: 120px;
}

.online-game-heading h1 {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    font-size: 48px;
    font-weight: 700;
    background-image: linear-gradient(rgba(249, 72, 178, 1), rgba(135, 88, 241, 1));
    -webkit-background-clip: text;
    color: transparent;
}

.online-game-heading p {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.online-games-cards-container {
    max-width: 1400px;
    width: 80%;
    display: flex;
    margin: 0 auto;
    gap: 10px;

}
.hover-img{

}

.hover-img:hover {

}

/* Play instantly Part Start */

.play-instantly {
    max-width: 1400px;
    width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: right;
    gap: 200px;
    align-items: center;
    padding-bottom: 120px;
}

.play-instantly-text h1 {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

.play-instantly-text p {
    width: 353px;
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.play {
    color: #F948B2;
}

.play-instantly-img1 {
    position: absolute;
    width: 100%;
}


.play-instantly-img2 {
    position: relative;
    margin-top: 350px;
    margin-left: -170px;
    width: 100%;

}

.play-instantly-img {
    margin: 0 485px 0 0;
}

/* Careers style start here */
section {
    background-color: #F948B2;
}

.careers {
    max-width: 1400px;
    width: 100%;
    display: flex;
    margin: 0 auto;

}

.careers-text {
    width: 50%;
    background-image: url("./images/Group 14.png");
}

.careers-text h1 {
    width: 426px;
    color: white;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

.careers-text p {
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.career-list {
    display: flex;
    align-items: center;
    gap: 20px;
}

.career-btn {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: white;
    color: #FF42A5;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;

}

.careers-img img {
    width: 100%;
    height: 100%;
}

/* Games Catagory Part Start Here */
.games-catagory {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 120px 0;

}

.list-1 {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 45px;
}

.list-2 {
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin: 0 auto;
}

.catagory-name {
    display: flex;
    gap: 16px;
    width: 262px;
    height: 100px;
    border-radius: 50px;
    background: #FFF;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.catagory-name:hover {
    border: 1px solid #FF42A5;
}

.catagory-name p:hover {
    color: #FF42A5;
}

.catagory-name img {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 50px;
}

.catagory-name p {
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
}


/* Footer Part  Start */
footer {
    background-color: #0B0223;

}

.footer-all {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    max-width: 1400px;
    padding: 120px 0;
}

.footer-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer-list {
    display: flex;
    justify-content: center;
}

.footer-icons {
    display: flex;
    justify-content: center;
}

.footer-terms {
    display: flex;
    justify-content: center;
}

.footer-title h3 {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    color: white;
}

.footer-title img {
    width: 86.041px;
    height: 40px;
}

.footer-list p {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.footer-icons p {
    width: 40px;
    height: 40px;
    color: white;
}

.footer-terms p {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.footer-copyright {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: center;
}
/* .footer-br{
    display: flex;
    justify-content: center;
} */

.icon-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    background-color: #0B0223;
    border: none;
}

.icon-btn:hover {
    color: red;
}